@scope (custom-article) {
    .capsule {
        display: flex;
        flex-direction: column;
        text-align: center;
        h1 {
            color: red;
        }
        p {
            margin: 0.5rem;
            color: gray;
        }
    }
}