@scope (custom-content) {
    .capsule {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
            margin: 0.5rem;
            color: black;
        }
        img {
            align-self: center;
            margin: 1rem
        }
        span {
            color: blue;
        }
    }
}